.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-custom-roxo {
    background: #7c26f8;
}

.btn-custom-roxo:hover {
    background: #6207e3;
    color: white
}

.btn-custom-branco {
    border: 2px solid #fff;
}

.btn-custom-branco:hover {
    background-color: white;
    color: black;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}