#rodape {
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}

#rodape h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

#rodape .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

#rodape ul {
    list-style: none;
}

#rodape ul li {
    float: right;
    margin: 0 5px;
}

#rodape .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

/* Tipografia */
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
